@{
    ViewData["Title"] = "Home";
}



<!DOCTYPE html>
<html lang="nl">

<head>
    <title>Login</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/Index.css" type="text/css" media="screen" />
</head>
<body onload="AllProducts()">
    <div class="container">
        <!-- start row-->
        <div class="row">
            <!--Sidemenu-->
            <div class="col-lg-3 sidemenu">

                <div class="sidemenu-header">
                    <h1>Producten</h1>
                </div>

                <div class="sidemenu-content">
                    <ul class=" sidemenu-category">
                        <li> <a id="Beefburgers" href="javascript:void(0)" class="sidemenu-category-item" onclick="Filter(this.id)">Beefburgers</a> </li>
                        <li> <a id="Beefmenu" href="javascript:void(0)" class="sidemenu-category-item" onclick="Filter(this.id)">Beefburgers Menu's</a> </li>
                        <li> <a id="Chickenburgers" href="javascript:void(0)" class="sidemenu-category-item" onclick="Filter(this.id)">Chickenburgers</a> </li>
                        <li> <a id="Chickenmenu" href="javascript:void(0)" class="sidemenu-category-item" onclick="Filter(this.id)">Chickenburgers Menu's</a> </li>
                        <li> <a id="Buckets" href="javascript:void(0)" class="sidemenu-category-item" onclick="Filter(this.id)">Buckets</a> </li>
                        <li> <a id="Portie" href="javascript:void(0)" class="sidemenu-category-item" onclick="Filter(this.id)">Portie's </a> </li>
                        <li> <a id="Friet" href="javascript:void(0)" class="sidemenu-category-item" onclick="Filter(this.id)">Friet</a> </li>
                        <li> <a id="Icecream" href="javascript:void(0)" class="sidemenu-category-item" onclick="Filter(this.id)">Ben & Jerry's </a> </li>
                        <li> <a id="Drinks" href="javascript:void(0)" class="sidemenu-category-item" onclick="Filter(this.id)">Dranken</a> </li>
                        <li> <a id="Saus" href="javascript:void(0)" class="sidemenu-category-item" onclick="Filter(this.id)">Sauzen</a> </li>
                    </ul>
                </div>


                <div class="sidemenu-footer mt-4">
                    <!-- horizontal divider-->
                    <hr />

                    <div class="mt-4">
                        <h1> Openingstijden</h1>
                        <p>
                            Dagelijks geopend van
                            15:00 t/m 20:45 uur.
                        </p>
                    </div>

                    <!-- horizontal divider-->
                    <hr />

                    <div class="mt-4">
                        <h1> Bezorglocaties</h1>
                        <p>
                            Wij bezorgen in de volgende postcodes:
                            <br><br>
                            5151, 5152, 5140, 5141, 5142, 5143, 5144, 5145, 5146
                        </p>
                    </div>

                    <!-- horizontal divider-->
                    <hr />


                    <!--bezorgtijden table-->
                    <div class="mt-4">
                        <h1> Bezorgtijden</h1>
                        <table class="table table-borderless">
                            <tbody>
                                <tr>
                                    <th scope="row">Maandag</th>
                                    <td>15:00-20:45</td>
                                </tr>
                                <tr>
                                    <th scope="row">Dinsdag</th>
                                    <td>15:00-20:45</td>
                                </tr>
                                <tr>
                                    <th scope="row">Woensdag</th>
                                    <td>15:00-20:45</td>
                                </tr>
                                <tr>
                                    <th scope="row">Donderdag</th>
                                    <td>15:00-20:45</td>
                                </tr>
                                <tr>
                                    <th scope="row">Vrijdag</th>
                                    <td>15:00-20:45</td>
                                </tr>
                                <tr>
                                    <th scope="row">Zaterdag</th>
                                    <td>15:00-20:45</td>
                                </tr>
                                <tr>
                                    <th scope="row">Zondag</th>
                                    <td>15:00-20:45</td>
                                </tr>
                            </tbody>
                        </table>

                    </div>
                </div>


            </div>
            <!-- End Sidemenu-->

            <div class="col-lg-9">

                <!-- Slider-->
                <div id="slider" class="carousel slide my-4" data-ride="carousel">
                    <ol class="carousel-indicators">
                        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>

                    </ol>
                    <div class="carousel-inner" role="listbox">
                        <div class="carousel-item active">
                            <img class="d-block img-fluid" src="~/img/burger1.jpg" alt="First slide">
                        </div>
                        <div class="carousel-item">
                            <img class="d-block img-fluid" src="~/img/burger2.jpg" alt="Second slide">
                        </div>
                    </div>
                    @*<a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>*@
                </div>

                <div class="row" id="product">

                </div>
            </div>
        </div>
        <!--End row-->

    </div>

    <!-- Script-->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src = "https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    

    <script>

        function AllProducts() {
          $('#product').load('@Url.Action("AllProducts", "Home")');
        }
    </script>

    <script>

        function Filter(categorieValue) {

            @*var url = $('#product').load('@Url.Action("FilterProducts", "Home")');
            var tag = $(this).val();
            $.get(url, { categorie: tag }, function (data) {
                $("#product").html(data);
            });*@

            $.ajax({
                type: "POST",
                url: '@Url.Action("FilterProducts","Home")',
                data: "categorie=" + categorieValue,
            }).done(function (result){
                $('#product').html(result);
            }).fail(function (){
                console.log('yeet');
            });
        }
    </script>
</body>
</html>
