@using Microsoft.AspNetCore.Http;
@using System.Data;
@*@model List<BC_House_ASP.Models.Product>*@

@{ 
    var targetProduct = ViewData["targetProduct"] as BC_House_ASP.Models.Product;
}

@model IEnumerable<Product>;

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.1/css/all.css" integrity="sha384-O8whS3fhG2OnA5Kas0Y9l3cfpmYjapjI0E4theH4iuMD+pLhbf6JI0jIMfYcK3yZ" crossorigin="anonymous">

<style>
    #TableHead {
        background-color: #c0392b;
        color: white;
    }

    #addbtn {
        background-color: #c0392b;
        color: white;
        width: auto;
    }

    input {
        text-align: center;
    }
    #tbRowID{
        display:none;
    }
</style>


@if (Model.Count() != 0)
{
    <table class="table">
        <thead id="TableHead">
            <tr>
                <th>Product</th>
                <th>Omschrijving</th>
                <th>Prijs</th>
                <th></th>
            </tr>
        </thead>
        <tbody id="TableBody">
            @foreach (var product in Model)
            {
                <tr id="Tablerow">
                    <td id="tbRowID">@Html.DisplayFor(modelItem => product.id)</td>
                    <td>@Html.DisplayFor(modelItem => product.productNaam)</td>
                    <td>@Html.DisplayFor(modelItem => product.omschrijving)</td>
                    <td value="@product.prijs">€@Html.DisplayFor(modelItem => product.prijs)</td>
                    <th> <button onclick="selectedProduct()" type="button" class="btn btn-outline-danger" data-toggle="modal" data-target="#exampleModalCenter">+</button></th>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <span>No results.</span>
}

<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="productNaam"></h5> 
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div id="result">
                    <h5>Aantal:</h5>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <button class="btn btn-danger btn-sm" id="minus-btn"><i class="fa fa-minus"></i></button>
                        </div>
                        <input type="number" id="qty_input" class="form-control form-control-sm" value="1" min="1">
                        <div class="input-group-prepend">
                            <button class="btn btn-danger btn-sm" id="plus-btn"><i class="fa fa-plus"></i></button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer justify-content-between">
                <h5 id="productPrijs"></h5>
                <button type="button" class="btn" id="addbtn">Toevoegen</button>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $('#qty_input').prop('disabled', true);
        $('#plus-btn').click(function () {
            $('#qty_input').val(parseInt($('#qty_input').val()) + 1);
        });
        $('#minus-btn').click(function () {
            $('#qty_input').val(parseInt($('#qty_input').val()) - 1);

            if ($('#qty_input').val() == 0) {
                $('#qty_input').val(1);
            }
        });
    });    
</script>

<script>

    function selectedProduct() {
        $('.table tbody').on('click', '.btn', function () {
            var currow = $(this).closest('tr');
            var naam = currow.find('td:eq(1)').text();
            var prijs = currow.find('td:eq(3)').text();
            $('#productNaam').html(naam);
            $('#productPrijs').html(prijs);     
        }) 
    }
</script>

@*<script>
    function totaalprijs() {

        var prijs = parseFloat(document.getElementById('productPrijs').innerHTML).toFixed(2);
        var aantal = document.getElementById('qty_input').value;

        var x = document.getElementById('productPrijs').innerHTML = aantal * prijs;
    }
</script>*@



