body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
}

.form_container {
    margin-top: 20px;
}
.h1{
    font-size: 30px;
}

.container {
    background-color: #f2f2f2;
    max-width: 500px;
    height: 85%;
    padding: 15px;
    margin: 0 auto;
    border-radius: 0.3em;
}

.brand_logo_container {
    height: 150px;
    width: 295px;
    text-align: center;
}

.brand_logo {
    height: 150px;
    width: 250px;
}
.login_btn {
    width: 100%;
    background: #c0392b !important;
    color: black !important;
}

    .login_btn:focus {
        box-shadow: none !important;
        outline: 0px !important;
    }

.login_container {
    padding: 0 2rem;
}

.input-group-text {
    background: #c0392b !important;
    color: white !important;
    border: 0 !important;
    border-radius: 0.25rem 0 0 0.25rem !important;
    height: 38px;
    width: 38px;
}

    .input-group-text img {
        width: 100%;
        height: auto;
    }

.input_user,
.input_pass:focus {
    box-shadow: none !important;
    outline: 0px !important;
}

.custom-checkbox .custom-control-input:checked ~ .custom-control-label::before {
    background-color: #c0392b !important;
}

